// Custom styles.
.content-wrap {
  float: right;
  box-sizing: border-box;
  width: 700px;
  min-height: 700px;
  box-shadow: initial;
  padding: 40px;
  background: rgba(255,255,255,0.5);
  border-radius: initial;
}